@use "../../scss/shared/mixins";

.about-hero {
	padding-top: 55px;
	padding-bottom: var(--space-xxl);


    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-xxl);
        align-items: center;

        @include mixins.breakpoint-up("lg") {
            grid-template-columns: 1fr 1fr;
        }
    }

	&__content {
		max-width: 600px;
	}
    
    &__heading {
        margin-bottom: var(--space-md);
    }

    &__description {
        font-size: 1.25rem;
        margin-bottom: var(--space-xl);
    }

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__profile-pic {
		width: 400px;
		height: 400px;
		border-radius: var(--radius-full);
		background: var(--secondary-background);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		box-shadow: var(--shadow-large);
		position: relative;

		@include mixins.breakpoint-down("md") {
			width: 300px;
			height: 300px;
		}
	}

	&__profile-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
