@use "../../scss/shared/mixins";

.error-404 {
	padding-top: 55px;
	padding-bottom: var(--section-spacing);
	min-height: 60vh;
	display: flex;
	align-items: center;

	&__container {
		width: 100%;
	}

	&__content {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
	}

	&__code {
		font-size: 8rem;
		font-weight: 700;
		line-height: 1;
		color: var(--color-text-accent-primary);
		margin-bottom: var(--space-lg);
		
		@include mixins.breakpoint-up("md") {
			font-size: 10rem;
		}
	}

	&__title {
		font-size: 2rem;
		margin-bottom: var(--space-md);
		color: var(--color-text-primary);
		
		@include mixins.breakpoint-up("md") {
			font-size: 2.5rem;
		}
	}

	&__message {
		font-size: 1.125rem;
		color: var(--color-text-secondary);
		margin-bottom: var(--space-xl);
		line-height: 1.6;
	}

	&__actions {
		margin-top: var(--space-xl);
	}

	&__button {
		display: inline-block;
	}
}
