.contact-social-media {
	padding: var(--space-xxl) 0;

	&__title {
		text-align: center;
	}

	&__grid {
		display: flex;
		justify-content: center;
		gap: var(--space-xl);
		flex-wrap: wrap;
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
        color: var(--color-text-secondary);
		transition: all 0.3s ease;

		&:hover {
			transform: translateY(-2px);
			box-shadow: var(--shadow-md);
			color: var(--color-text-primary);
		}
	}

	&__icon {
		width: 60px;
		height: 60px;
		margin-bottom: var(--space-sm);
		display: flex;
		align-items: center;
		justify-content: center;
        background-color: var(--color-background-secondary);
        border-radius: var(--radius-full);

		svg {
			width: 24px;
			height: 24px;
			fill: currentcolor;
		}
	}

	&__name {
		font-weight: 600;
		font-size: 0.875rem;
	}
}
