@use "../../scss/shared/mixins";

// Headings
h1 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.1;

	@include mixins.breakpoint-up("md") {
		font-size: 3.5rem;
	}
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;

	@include mixins.breakpoint-up("md") {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.3;
}

h4 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.4;
}

// Paragraphs
p {
	color: var(--color-text-secondary);
}

// apply margin-bottom to all elements except last child
h1, h2, h3, h4, p {
	
	&:not(:last-child) {
		margin-bottom: var(--space-md);
	}
}

// specific margin-bottom values for headings
h1:not(:last-child),
h2:not(:last-child) {
	margin-bottom: var(--space-lg);
}

h3:not(:last-child),
h4:not(:last-child) {
	margin-bottom: var(--space-sm);
}